body {
  margin: 0;
  overflow: hidden;
  background-color: #0e0e0e;
}

canvas {
  display: block;
}

#info {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-family: sans-serif;
  z-index: 1;
}
